<!-- Configuration -->
<div class="col-md-4" ng-controller="ConfigurationController">
    <div class="card">
        <div class="toolbar bgc-light-blue-400">
            <div class="toolbar__left">
                <a class="btn btn--l btn--white btn--icon">
                    <i class="mdi mdi-settings"></i>
                </a>
            </div>
            <div class="toolbar__label tc-white-1">
                Configuration
            </div>
        </div>
        <div class="p+">
            <lx-text-field label="Nombre de joueurs">
                <input type="number" ng-model="configuration.players" min="4" />
            </lx-text-field>
            <div class="text-center">
                <button class="btn btn--l btn--blue btn--raised" lx-ripple ng-click="gamePlay.launch()">
                    <i class="mdi mdi-launch"></i> Lancer la partie
                </button>
            </div>
        </div>
    </div>
    <div class="card mt+">
        <div class="toolbar bgc-light-blue-400">
            <div class="toolbar__label tc-white-1">
                Roles
            </div>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-tooltip="Ajouter un rôle" ng-click="configuration.addRole()">
                    <i class="mdi mdi-plus"></i>
                </button>
            </div>
        </div>
        <ul class="list">
            <li class="list-row has-divider has-divider--dark" ng-repeat="role in configuration.roles track by $index">
                <div class="list-row__content">
                    <div>
                        <div class="col-md-8">
                            <lx-text-field label="Role" fixed-label="true">
                                <input type="text" ng-model="role.name" ng-change="configuration.saveRoles()">
                            </lx-text-field>
                        </div>
                        <div class="col-md-4">
                            <lx-text-field label="Joueurs" fixed-label="true">
                                <input type="number" ng-model="role.playersCount" ng-change="configuration.saveRoles()" min="0">
                            </lx-text-field>
                        </div>
                        <div class="col-md-12">
                            <div class="radio-button">
                                <input type="radio" id="default-role{{ $index }}" name="defaultRole" ng-value="role" class="radio-button__input" ng-model="configuration.defaultRole">
                                <label for="default-role{{ $index }}" class="radio-button__label">Défaut</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-row__secondary">
                    <a href="" ng-click="configuration.removeRole($index)" lx-tooltip="Supprimer">
                        <i class="icon icon--xs icon--red icon--flat mdi mdi-close"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
