<div class="col-md-8" ng-controller="GamePlayController">
    <div class="card">
        <div class="toolbar bgc-teal-600">
            <div class="toolbar__label tc-white-1">
                Partie
            </div>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-tooltip="Réinitialiser les votes" ng-click="gamePlay.resetVotes()">
                    <i class="mdi mdi-auto-fix"></i>
                </button>
            </div>
        </div>
        <div class="p+ has-divider has-divider--dark text-center" ng-show="gamePlay.launched">
            Partie lancée il y a :
            <timer autostart="false" id="gamePlay-timer">
                <span ng-show="hours">{{hours}} heures, </span>
                <span ng-show="minutes">{{minutes}} minutes, </span>
                {{seconds}} secondes, {{millis}} millisecondes.

                <br/>

                <span ng-show="isRunning">
                    <button class="btn btn--l btn--blue btn--icon" lx-ripple ng-click="pause()"><i class="mdi mdi-pause"></i></button>
                </span>
                <span ng-hide="isRunning">
                    <button class="btn btn--l btn--blue btn--icon" lx-ripple ng-click="resume()"><i class="mdi mdi-play"></i></button>
                </span>
            </timer>
        </div>
        <ul class="list">
            <li class="list-row has-divider has-divider--dark col-lg-6 player" ng-class="{'dead': player.dead, 'married': player.marriedTo}" ng-repeat="player in gamePlay.players track by $index">
                <div class="list-row__primary">
                    <i class="icon icon--s icon--grey icon--flat mdi mdi-account"></i>
                </div>

                <div class="list-row__content">
                    <span class="display-block">
                        <div class="col-md-8">
                            <lx-text-field label="Pseudo" fixed-label="true">
                                <input type="text" ng-model="player.nickName" ng-change="gamePlay.savePlayers()">
                            </lx-text-field>
                        </div>
                        <div class="col-md-4">
                            <lx-text-field label="Votes" fixed-label="true">
                                <input type="number" ng-model="player.votes" min="0">
                            </lx-text-field>
                        </div>
                    </span>
                    <span class="display-block fs-body-1 tc-black-2">
                        <span lx-tooltip="Role">
                            <span ng-show="player.role" ng-bind="player.role"></span>
                            <span ng-hide="player.role">Non défini</span>
                        </span>
                        <span ng-show="player.marriedTo">
                            / Lié à
                            <span ng-bind="player.marriedTo.nickName"></span>
                        </span>
                    </span>
                </div>

                <div class="list-row__secondary">
                    <a href="" ng-click="player.dead = !player.dead">
                        <i class="icon icon--xs icon--grey icon--flat mdi mdi-window-close" lx-tooltip="Mort" ng-hide="player.dead"></i>
                        <i class="icon icon--xs icon--grey icon--flat mdi mdi-check" lx-tooltip="Rescuciter" ng-show="player.dead"></i>
                    </a>
                    <a href="" ng-click="gamePlay.marry(player)">
                        <i class="icon icon--xs icon--grey icon--flat mdi mdi-account-switch" lx-tooltip="Lier à un personnage"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <timer autostart="false" id="gamePlay-role-timer" countdown="60" interval="1000">
        <div class="card p+ mt+ text-center" ng-class="{'bgc-red-200': countdown == 0}" ng-controller="RoleTimerController">
            Expiration du role dans : {{countdown}} secondes

            <br/>
            <br/>

            <button class="btn btn--l bgc-teal-600 tc-white btn--raised" lx-ripple ng-click="reset(); start()">
                Lancer le compteur
            </button>
        </div>
    </timer>
</div>
