<lx-dialog class="dialog dialog--l" id="marry">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                Lié {{ marry.player.nickName }} à
            </span>
        </div>
    </div>

    <div class="dialog__content p+">
        <lx-select ng-model="marry.player.marriedTo" placeholder="Joueur" choices="gamePlay.players" floating-label allow-clear="true">
            <lx-select-selected>
                {{ $selected.nickName }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.nickName }}
            </lx-select-choices>
        </lx-select>
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close ng-click="marry.player.marriedTo = null">Annuler</button>
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Confirmer</button>
    </div>
</lx-dialog>
